<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pesapal</name>
    <displayName><![CDATA[Pesapal]]></displayName>
    <version><![CDATA[1.0.2]]></version>
    <description><![CDATA[Receive payments with Pesapal.]]></description>
    <author><![CDATA[Team Pesapal]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure about removing Pesapal payment module details?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>